.navbar {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  z-index: 1000;
}

.logo {
  text-decoration: none;
  color: #000;
  text-shadow: 0 0 10px #fff; 
  font-weight: bold;
  font-size: 32px;
  transition: color 0.3s ease;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
  justify-content: center;
  flex: 1; 
}

.nav-links li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  text-shadow: 0 0 10px #fff; 
  font-weight: bold;
  font-size: 25px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: rgb(29, 29, 70);
  text-shadow: 0 0 15px #000;
  transform: scale(1.1);
  transition: all 0.3s ease;

}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -12px;
  background: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
}

.wobble-hor-bottom{
  background: #000;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: 0.3s;
}

.wobble-hor-bottom:hover {
  background: #fff;
  color: #000;
  transform: scale(1.05);
}
.wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 0.8s both;
	        animation: wobble-hor-bottom 0.8s both;
}
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}




.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1100;
  padding: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  transition: background 0.3s;
  
}

.menu-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: #000;
  margin: 4px 0;
  border-radius: 2px;
  transition: 0.3s;
}


@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 70px; 
    right: 0;
    height: calc(100vh - 70px);
    width: 220px;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(12px);
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .menu-toggle {
    display: flex;
  }

  .nav-links li a {
    font-size: 20px;
  }

  .cta {
    display: none; 
  }
}


